.restart {
  text-align: right;
  margin-right: 20rpx;
}

.restart text {
  border: 1rpx solid rgba(57, 104, 165, 0.13);
  box-shadow: 0 0 8rpx 0 rgba(57, 104, 165, 0.13);
  border-radius: 15rpx;
  padding: 4rpx 8rpx;
  display: inline-block;
}

.inc, .anwser {
  margin: 0 20rpx;
}

.select-title {
  margin-left: 20rpx;
}

.anwser>view {
  background: #fff;
  border-radius: 8rpx;
  padding: 10rpx 15rpx 10rpx 15rpx;
  -webkit-box-shadow: 0 0 8px 0 rgba(57, 104, 165, 0.13);
  box-shadow: 0 0 8rpx 0 rgba(57, 104, 165, 0.13);
  display:inline-block;
  margin:20rpx 20rpx 0 0;
}

.anwser>view:active {
  background: #ccc;
}

.select-btn {
  width:60%;
  margin-top:20rpx;
}

.avatar {
  height: 40rpx;
  width: 40rpx;
  float: left;
}

.talk {
  margin-left: 45rpx;
  background: #fff;
  border-top-right-radius: 8rpx;
  border-bottom-left-radius: 8rpx;
  border-bottom-right-radius: 8rpx;
  padding: 12rpx 17rpx;
  position: relative;
  -webkit-box-shadow: 0 0 8px 0 rgba(57, 104, 165, 0.13);
  box-shadow: 0 0 8rpx 0 rgba(57, 104, 165, 0.13);
}